---
import { Image } from "astro:assets";

import adaptiveMarineSolutions from "assets/sponsors/AdaptiveMarineSolutions.png";
import claigan from "assets/sponsors/Claigan.jpg";
import seaspan from "assets/sponsors/Seaspan.png";
import honeywell from "assets/sponsors/Honeywell.png";
import smithEngineering from "assets/sponsors/SmithEngineering.png";
import sensorTechnologies from "assets/sponsors/SensorTechnologies.png";
import solidworks from "assets/sponsors/Solidworks.png";
import amsSustainability from "assets/sponsors/AMSSustainability.png";
import tragicallyHip from "assets/sponsors/TragicallyHip.png";

const sponsors = [
  {
    src: adaptiveMarineSolutions,
    alt: "Adaptive Marine Solutions sponsor logo",
    link: "https://ams-ink.ca",
  },
  { src: claigan, alt: "Claigan sponsor logo", link: "https://www.claigan.com" },
  { src: seaspan, alt: "Seaspan sponsor logo", link: "https://www.seaspan.com" },
  { src: honeywell, alt: "Honeywell sponsor logo", link: "https://www.honeywell.com/us/en" },
  {
    src: smithEngineering,
    alt: "Smith Engineering sponsor logo",
    link: "https://smithengineering.queensu.ca",
  },
  {
    src: sensorTechnologies,
    alt: "Sensor Technologies sponsor logo",
    link: "https://sensortechcanada.com",
  },
  { src: solidworks, alt: "Solidworks sponsor logo", link: "https://www.solidworks.com" },
  {
    src: amsSustainability,
    alt: "Alma Mater Society sponsor logo",
    link: "https://www.myams.org/about/get-involved/sustainability/",
  },
];

const partnerships = [
  {
    src: tragicallyHip,
    alt: "The Tragically Hip logo",
    link: "https://thehip.com",
  },
];

const gridClasses =
  sponsors.length <= 3
    ? "grid-cols-1 sm:grid-cols-2 md:grid-cols-3 justify-center"
    : "grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4";
---

<div class="mt-8 md:mt-24">
  <h2 class="text-center text-slate-500 font-mono lowercase tracking-wide">Our Sponsors</h2>
  <div
    class={`grid ${gridClasses} gap-8 md:gap-20 items-center justify-items-center mt-16 md:mt-8 auto-rows-auto`}
  >
    {sponsors.map((sponsor) => (
      <div class="flex items-center justify-center" key={sponsor.alt}>
        <a href={sponsor.link} target="_blank" rel="noopener noreferrer" aria-label={sponsor.alt}>
          <Image
            src={sponsor.src}
            alt={sponsor.alt}
            height={200}
            class="w-auto h-auto object-contain max-h-[100px] sm:max-h-[200px] md:max-h-[250px]"
          />
        </a>
      </div>
    ))}
  </div>

  <h2 class="mt-8 text-center text-slate-500 font-mono lowercase tracking-wide">In Partnership With</h2>
  <div
    class="grid grid-cols-1 gap-8 md:gap-20 items-center justify-items-center mt-16 md:mt-8 auto-rows-auto"
  >
    {partnerships.map((partnership) => (
      <div class="flex items-center justify-center" key={partnership.alt}>
        <a
          href={partnership.link}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={partnership.alt}
        >
          <Image
            src={partnership.src}
            alt={partnership.alt}
            height={200}
            class="w-auto h-auto object-contain max-h-[100px] sm:max-h-[200px] md:max-h-[250px]"
          />
        </a>
      </div>
    ))}
  </div>
</div>
